<tr id='deposit-ether-balances'>
  <td>ETH</td>
  <td id='deposit-wallet-ether-balance'><%= format_decimals(dapp_status.ether_balance) %></td>
  <td id='deposit-exchange-ether-balance'><%= format_decimals(dapp_status.exchange_ether_balance) %></td>
</tr>