<%= form_tag sell_orders_path, id: 'sell-order-form', data:{ controller: 'sell-order', action: 'submit->sell-order#submit'} do |f| %>
	<div class="form-group small w-100">
		<label>Sell Amount (DAPP)</label>
		<div class="input-group">
			<%= text_field_tag  :sell_amount, nil, class:"form-control form-control-sm bg-dark text-white", placeholder:"Sell amount",
			data: { sell_order_target: 'sellAmount'}   %>
		</div>
	</div>
	<div class="form-group small w-100 pb-3">
		<label>Sell Price</label>
		<div class="input-group">
			<%= text_field_tag :sell_price, nil, class: "form-control form-control-sm bg-dark text-white", placeholder: "Sell Price", data: { sell_order_target: 'sellPrice'} %>
		</div>
	</div>
	<%= submit_tag 'Sell Order',  class: "btn btn-primary btn-sm btn-block w-100" %>
<% end %>