<tr id='deposit-token-balances'>
	<td>DAPP</td>
	<td id='deposit-wallet-token-balance'><%= format_token_balance(dapp_status.token_balance) %></td>
	<td id='deposit-exchange-token-balance'><%= format_token_balance(dapp_status.exchange_token_balance) %></td>
</tr>