<tr id='withdraw-ether-balances'>
  <td>ETH</td>
  <td id='withdraw-wallet-ether-balance'><%= format_decimals(dapp_status.ether_balance) %></td>
  <td id='withdraw-exchange-ether-balance'><%= format_decimals(dapp_status.exchange_ether_balance) %></td>
</tr>