<tr id='withdraw-token-balances'>
	<td>DAPP</td>
	<td id='withdraw-wallet-token-balance'><%= format_token_balance(dapp_status.token_balance) %></td>
	<td id='withdraw-exchange-token-balance'><%= format_token_balance(dapp_status.exchange_token_balance) %></td>
</tr>