<div class="card bg-dark text-white">
	<div class="card-header">Price Chart</div><div class="card-body">
		<div class="price-chart" style="position: relative;">
			<div class="price">
				<h4>DAPP/ETH &nbsp; <%= price_symbol(@graph.last_price_change) %> &nbsp; <%= @graph.last_price %></h4>
			</div>
			<div id='chart'></div>
			<script>
				var chartOptions = {
				  chart: {
						type: 'candlestick',
				    animations: { enabled: false },
				    toolbar: { show: false },
				    width: '100%',
						height: '100%'
				  },
				  tooltip: {
				    enabled: true,
				    theme: false,
				    style: {
				      fontSize: '12px',
				      fontFamily: undefined
				    },
				    x: {
				        show: false,
				        format: 'dd MMM',
				        formatter: undefined,
				    },
				    y: {
				      show: true,
				      title: 'price'
				    },
				    marker: {
				      show: false,
				    },
				    items: {
				       display: 'flex',
				    },
				    fixed: {
				        enabled: false,
				        position: 'topRight',
				        offsetX: 0,
				        offsetY: 0,
				    },
				  },
				  xaxis: {
				    type: 'datetime',
				    labels: {
				      show: true,
				      style: {
				          colors: '#fff',
				          fontSize: '8px',
				          cssClass: 'apexcharts-xaxis-label',
				      },
				    },
				  },
				  yaxis: {
				    labels: {
				      show: true,
				      minWidth: 0,
				      maxWidth: 160,
				      style: {
				        color: '#fff',
				        fontSize: '8px',
				        cssClass: 'apexcharts-yaxis-label',
				      },
				      offsetX: 0,
				      offsetY: 0,
				      rotate: 0,
				    }
				  },
					series: [{
					  data: <%= @graph.series_data %>
					}]
				}

			  var chart = new ApexCharts(document.querySelector("#chart"), chartOptions);

			  chart.render();
			</script>
		</div>
	</div>
</div>