<div class="vertical">
	<div class="card bg-dark text-white">
		<div class="card-header">Order Book</div>
		<div id='order-book-container' class="card-body order-book">
			<table class="table table-dark table-sm small dapp-table">
				<tbody id='order-book'>
					<% @sell_orders.each do |order| %>
					  <%= render partial: 'orders/sell_order', locals: {order: order}%>
					<% end %>
					<tr>
						<th>DAPP</th>
						<th>DAPP/ETH</th>
						<th>ETH</th>
					</tr>
					<% @buy_orders.each do |order| %>
					  <%= render partial: 'orders/buy_order', locals: {order: order}%>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>