<%= form_tag sell_orders_path do |f| %>
	<div class="form-group small">
		<label>Sell Amount (DAPP)</label>
		<div class="input-group">
			<%= text_field_tag  :sell_amount, nil, class:"form-control form-control-sm bg-dark text-white", placeholder:"Sell amount"  %>
		</div>
	</div>
	<div class="form-group small">
		<label>Sell Price</label>
		<div class="input-group">
			<%= text_field_tag :sell_price, nil, class: "form-control form-control-sm bg-dark text-white", placeholder: "Sell Price" %>
		</div>
	</div>
	<%= submit_tag 'Sell Order',  class: "btn btn-primary btn-sm btn-block" %>
<% end %>