<%= form_tag token_deposits_path do |f| %>
<table id='deposit-token-form'>
	<tr><td>DAAP Amount:</td><td><%= text_field_tag  :token_amount %></td><td><%= submit_tag 'Deposit' %></td></tr>
</table>
<% end %>