<%= form_tag withdrawals_path do |f| %>
<table id='withdraw-ether-form'> 
	<tr><td>ETH Amount:</td><td><%= text_field_tag  :ether_amount %></td><td><%= submit_tag 'Withdraw' %></td></tr>
</table>
<% end %>