<div class="vertical">
	<div class="card bg-dark text-white">
		<div class="card-header">Trades</div>
		<div class="card-body">
			<table id='trades' class="table table-dark table-sm small">
				<thead>
					<tr>
						<th>Time</th>
						<th>DAPP</th>
						<th>DAPP/ETH</th>
					</tr>
				</thead>
				<tbody id='all-trades-list'>
					<% @trades.each do |trade| %>
					  <%= render partial: 'accounts/trade', locals: {trade: trade}%>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>